<div id="myDIV" class="header">
  <h2 style="margin:5px">My To Do List</h2>
  <input #myInput type="text" id="myInput" placeholder="Title..." >
  <button (click)="newElement(myInput.value)" class="addBtn">Add</button>
</div>

<ul id="myUL">
  <li *ngFor="let todo of list; let i = index" (click)="checkItem($event)">
    {{todo}}
    <span class="close" (click)="deleteItem($event, i)">×</span>
  </li>
</ul>
